<html lang="en">

<head>
	<%include header%>
	<style>
		#grad1 {
			height: 100%;
			width: 100%;
			background-color: #004e92 100%;
			/* For browsers that do not support gradients */
			background-image: linear-gradient(to right, #000428 0%, #004e92 100%);
			/* Standard syntax (must be last) */
		}

		.logo {
			width: auto;
			height: auto;
			float: none;
			padding: 22.5px 0px 0px 0px;
			/*to make it exactly to the center*/
		}
	</style>
</head>

<body layout="column">
	<div id="grad1">
		<div id="main-content" flex layout-align="center start">
			<div class="container" layout="column" layout-align="center center">
				<div class="main-container">
					<div>
						<%- include(page) %>
					</div>
				</div>
			</div>
		</div>
		<%include footer%>
	</div>
</body>

</html>